imports:
    - config/behat/suites.yaml

default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    extensions:
        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/tests/Resources/"
            base_url: "https://127.0.0.1:8080/"
            javascript_session: chrome
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "start-fullscreen"
                                        - "start-maximized"
                                        - "no-sandbox"
                                        - "--headless"
                                        - "--window-size=1920,1080"
                                        - "--disable-gpu"
                                acceptSslCerts: true
                                acceptInsecureCerts: true
                                unexpectedAlertBehaviour: accept

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php

        FriendsOfBehat\VariadicExtension: null

    gherkin:
        filters:
            tags: "~@todo"
